@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  height: 100vh !important;
  width: 100vw !important;
  cursor: grab;
}

body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Piazzolla", serif;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}